#skills {
    overflow: hidden;
    width: 100vw;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.skill-title {
    font-size: 36px;
    font-weight: 500;
    padding-top: 12px;
    margin-bottom: 36px;
}

.skill-description {
    font-weight: 300;
    font-size: 16px;
    max-width: 80%;
    padding: 0 12px;
}

.skill-bar-text>h2 {
    font-size: 20px;
    font-weight: 500;
}

.skill-bars {
    margin: 24px;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.skill-bar {
    margin: 24px;
    padding: 12px 24px;
    border-radius: 8px;
    background-color: rgb(50, 50, 50);
}

.skill-bar-img {
    display: block;
    margin: 0 auto;
    object-fit: cover;
    height: 60px;
}

.skill-bar-text>ul>li {
    font-size: 14px;
    font-weight: 200;
    opacity: 0.5;
}