#contact-page {
    width: 100vw;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-page-title {
    font-size: 36px;
    margin: 42px;
    font-weight: 500;
}

.contact-description {
    padding: 24px;
    font-size: medium;
    font-weight: 300;
}

.contact-form {
    margin: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75vw;
}

.name, .email, .msg {
    font-size: medium;
    width: 100%;
    max-width: 75%;
    margin: 12px;
    padding: 12px 24px;
    color: white;
    border: none;
    border-radius: 12px;
    background: rgb(40, 40, 40);
}

.submit-button {
    background:white;
    border: none;
    border-radius: 12px;
    margin: 36px;
    padding: 12px 54px;
    cursor: pointer;
}

.contact-social-media {
    display: flex;
    flex-wrap: wrap;
}

.contact-social-media-icon {
    object-fit: cover;
    height: 54px;
    width: 54px;
    margin: 0 12px;
}